

.common-padding {
    align-items: center;
    margin-inline: 25px;
}

.alignments {
    font-family: 'Outfit', sans-serif;
    margin-top: 150px; 
}

.alignments-0 {
    font-family: 'General Sans', sans-serif;
}

.alignments2 {
    font-family: 'General Sans', sans-serif;
}

.alignments3 {
    font-family: 'Outfit', sans-serif;
    height: 250px;
   }

a.one:link {
    color: blue;
}

a.one:visited {
    color: #208ceb;
}
