@font-face {
    font-family: 'SynonymRegular';
    src: url('Synonym_Complete/Fonts/OTF/Synonym-Regular.otf');
}

@font-face {
    font-family: 'Amulya';
    src: url('Amulya_Complete/Fonts/OTF/Amulya-Medium.otf');
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

.common-padding {
    padding: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.alignments {
    font-family: 'Amulya', sans-serif;
    margin-top: 120px; /* Adjust this value based on the header's height */
}

.alignments2 {
    font-family: 'SynonymRegular', sans-serif;
}

.alignments3 {
    font-family: 'Amulya', sans-serif;
    height: 600px;
    padding-left: 20%;
    padding-right: 20%; /* Ensure right padding for .alignments3 if needed */
}

a.one:link {
    color: blue;
}

a.one:visited {
    color: #208ceb;
}
