
.bottomnavbar {
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    background: #fff;
    padding: 10px;
    height: 150px;
    overflow-x: hidden;
    flex-wrap: wrap; /* Allow wrapping to next line if needed */

}

.bottomnavbar a {
    color: grey;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.bottomnavbar a.active{
    color: black;
}

.bottomnavbar a:hover {    
    color: black;
}

.gallery {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding: 100px;
    overflow-x: hidden;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

.lightbox {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
}

.lightbox-content {
    max-width: 100%;
    max-height: 100%;
}

.close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #8d8787;
    font-size: 45px;
    cursor: pointer;
}

  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #8d8787;
    font-weight: bold;
    font-size: 45px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
 }

.active {
    color: black;
}
@media (max-width: 768px) { 
    .bottomnavbar {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        gap: 20px; /* Adjust gap as needed */
        height: auto;  /* Let the height adjust based on content */
    }
    .lightbox {
        overflow-y: auto;  
    }
    .lightbox-content {
        width: auto;
    }
    .prev, .next {
        font-size: 30px; 
        padding: 10px;
    }
}
